@{
    ViewBag.Title = "AddItem";
    Layout = "~/Views/Shared/layout2.cshtml";
}

<form action="/Admin/Add_Item" method="post" style="width:100%; margin-right: auto; margin-left: auto; border: 1px" enctype="multipart/form-data">
    <h2>Add Item </h2>
    <br>
    <div class="form-group">

        <br />
        <div class="row">
            <div class="col-md-2 text-right">
                Name:
            </div>
            <div class="col-md-4">
                <input type="text" name="Name" style="color:black" class="form-control">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2 text-right">
                Catagory:
            </div>
            <div class="col-md-4">
                
                <select name="Description" id="catg" class=" well well-sm col-sm-10" required="required">
                    <option value="Men">Men</option>
                    <option value="Women">Women</option>
                    <option value="Kids">Kids</option>
                    
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2 text-right">
                Price:
            </div>
            <div class="col-md-4">
                <input type="text" name="Price" style="color:black" class="form-control">
            </div>
        </div>
        <div class="col-md-4">
            Upload Image: <input type="file" name="file" />
        </div>
    </div>
    <br />

    <div class="row">
        <div style="margin-left:15%" class="col-md-3">
            <input type="submit">
        </div>
    </div>
    
</form>

