@{
    ViewBag.Title = "Search Item";
    Layout = "~/Views/Shared/layout2.cshtml";
}

<h2 class="text-center">Search Item </h2>
<p class="text-center">
    <font size="3">
        <img width="200" height="200" src="~/Content/img/@ViewBag.Item.Photo" />
        <strong>ID: </strong>@ViewBag.Item.Id<br>
        <strong>Name:</strong>@ViewBag.Item.Name<br>
        
        <strong>Price: </strong>@ViewBag.Item.Price<br>
        
        </font>
</p>
