@{
    ViewBag.Title = "UpdateEmployee";
    Layout = "~/Views/Shared/layout2.cshtml";
}

<form action="/Admin/Update" method="post" style="width:70%; margin-right: auto; margin-left: auto; border: 1px">
    <h2>Update  User</h2>
    <br>
    <div class="form-group">

        <br />
        <div class="row">
            <div class="col-md-2 text-right">
                Enter ID:
            </div>
            <div class="col-md-4">
                <input type="text" name="Id" style="color:black" class="form-control">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2 text-right">
                Email:
            </div>
            <div class="col-md-4">
                <input type="text" name="Email" style="color:black" class="form-control">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2 text-right">
                Address:
            </div>
            <div class="col-md-4">
                <input type="text" name="Address" style="color:black" class="form-control">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2 text-right">
                Contact Number:
            </div>
            <div class="col-md-4">
                <input type="text" name="PhoneNumber" style="color:black" class="form-control">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2 text-right">
                Password:
            </div>
            <div class="col-md-4">
                <input type="password" name="Password" style="color:black" class="form-control">
            </div>
        </div>
        <br />
        <div class="row">
            <div style="margin-left:15%" class="col-md-3">
                <input type="submit">
            </div>
        </div>
    </div>
</form>
