@{
    ViewBag.Title = "ContactUs";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About Us</title>
</head>
<body >

   
    
    <div class="container">
        <div class="well well-sm" style="background-color:white">
            <img src="~/Content/img/aboutust%20-%20Copy.jpg" width="1120" />
            <h4><strong> We are a global online fashion retail company.</strong></h4>
            <p>
                MS Garments is a leading global online wholesale supplier of the latest in Womens Clothing, Men and Women's Shoes, Bags and Accessories, Casual Dresses, Special Occasion Dresses and Accessories, Wedding Dresses, Fashion Jewelry, Intimate Lingerie, Wigs, Cosplay Costumes, Men's Clothing, Children's Toys, Home &amp; Living, Lifestyle Products and many more fantastic items and gift ideas. Our commitment is to provide a wide range of high quality, trendy fashion clothing at stunning factory direct prices along with a class-leading customer service experience to our worldwide community of customers. Sammydress is owned and managed by Shenzhen Globalegrow E-Commerce Co., Ltd. It is also managed by Wa Fa La, Inc. PO Box 30490, Staten Island, NY 10303, USA.<br>
            </p>

            <h4><strong>Our Target is to provide our global customers with high quality products at competitively low factory direct prices.</strong> </h4>
            <p>The more you buy, the more you save! Our website is available in multiple major languages to cater to our continually expanding international customer base. Whether you're a personal buyer in Italy looking for the latest fashion clothing, or a store owner or business wholesaler in the USA searching for suppliers, Sammydress.com is perfect for you because of our high quality products, low wholesale prices, fast delivery and dedicated professional service – all underpinned by the strength of our global outreach.</p>

            <h4><strong>Top 4 Reasons to shop with us</strong></h4>
            <p>
                - We have one of the world's largest fashion catalogs on trendsetting high quality products and styles.<br>
                - New cutting-edge fashion items are sourced and added every single day on Sammydress.com.<br>
                - Our experienced buyers constantly search for the very latest in stunning fashion clothing satisfy the diverse demand of our massive, global customer base.<br>
                - With over 200,000 product lines, we offer a world of style at the lowest possible online prices.
            </p>

            <h4><strong>Factory Low Price</strong></h4>
            <p>Due to our extensive and strong relationships that have been developed with manufacturers here and abroad, we are able to supply our customers with high quality products at incredibly low factory prices. We are totally committed to working with business wholesalers all over the world to ensure the best possible deals. If you are interested in our products, please feel free to contact us at any time. We are confident that you will enjoy all the fantastic products available at wholesale prices.</p>

            <h4><strong>Fast Shipping / Professional Packaging</strong></h4>
            <p>We are able to offer world class shipping options through our long term partnerships with UPS, FedEx, DHL and other leading global carriers. Professional warehouse personnel will take good care of your orders by making sure they are packed in accordance with our rigorous and exacting standards. Your products will be carefully checked and securely packed before shipping out. Every day, we ship to thousands of customers across dozens of countries worldwide; this reflects our commitment as a leading global online fashion retail company. We have warehouse and distribution hubs located in Asia, the USA and Europe, ensuring that we provide the very highest levels of responsiveness to you at all times.</p>

            <h4><strong>Best Customer Service</strong></h4>
            <p>We value our relationship with every one of our customers, so our professional customer service team is always available to help you. As we are constantly adding new products, all of our staff are fully trained in the latest trends and offerings. A dedicated 24 hour live chat service is available for all your inquiries to give you an instant response. Your satisfaction is and will always be our top priority.</p>
        </div>
        <</div>


</body>
</html>

