@{
    ViewBag.Title = "Kids";
}

<html>
<body>
    <!-- Page Content -->
    <div class="container">
       
                <div class="row">
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">

                            <img src="~/Content/img/15-home_default.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Rs 1200</h4>
                                <h4>
                                    <a href="#">New Arrival</a>
                                </h4>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">

                            <img src="~/Content/img/3-home_default.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Rs 900</h4>
                                <h4>
                                    <a href="#">New Arrival</a>
                                </h4>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">

                            <img src="~/Content/img/37-home_default.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Rs 750</h4>
                                <h4>
                                    <a href="#">New Arrival</a>
                                </h4>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">

                            <img src="~/Content/img/56-home_default.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Rs 899.00</h4>
                                <h4>
                                    <a href="#">New Arrival</a>
                                </h4>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">

                            <img src="~/Content/img/51-home_default.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Rs 1350</h4>
                                <h4>
                                    <a href="#">New Arrival</a>
                                </h4>

                            </div>

                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">


                            <img src="~/Content/img/25-home_default.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Rs 550</h4>
                                <h4>
                                    <a href="#">New Arrival</a>
                                </h4>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">

                            <img src="~/Content/img/55-home_default.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Rs 1200</h4>
                                <h4>
                                    <a href="#">New Arrival</a>
                                </h4>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">

                            <img src="~/Content/img/63-home_default.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Rs 900</h4>
                                <h4>
                                    <a href="#">New Arrival</a>
                                </h4>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">

                            <img src="~/Content/img/13-home_default.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Rs 750</h4>
                                <h4>
                                    <a href="#">New Arrival</a>
                                </h4>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">

                            <img src="~/Content/img/42-home_default.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Rs 899</h4>
                                <h4>
                                    <a href="#">New Arrival</a>
                                </h4>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">

                            <img src="~/Content/img/51-home_default.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Rs 550</h4>
                                <h4>
                                    <a href="#">New Arrival</a>
                                </h4>

                            </div>

                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">


                            <img src="~/Content/img/61-home_default.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right">Rs 1350</h4>
                                <h4>
                                    <a href="#">New Arrival</a>
                                </h4>

                            </div>

                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>

    <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
        </footer>
    </div>
</body>
</html>


