@{
    ViewBag.Title = "showCart";
}
@model List<Onlinecloth.Models.Order>
@using Onlinecloth.Models;

<html>

<body>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            
            <div class="col-md-12">


                <hr />
                <h1>Your Cart</h1>
                <a href="/Home/Invoice" style="margin-top:1%" class="btn btn-default btn-success pull-right">Get Invoice</a><br />
                <hr />


                <div class="row">

                    @foreach (var s in Model)
                    {
                        if (s.UserId == (int)Session["userID"])
                        {

                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">

                                    <img src="~/Content/img/@s.Item.Photo" alt="">
                                </div>
                                <div class="caption">
                                    <h4>@s.Item.Name</h4>
                                    <h4>@s.Item.Description</h4>
                                    <h4>
                                        Price Rs. @s.Item.Price<br />
                                        <a href="~/Home/DeleteCart?itemId=@s.Id" style="margin-top:1%" class="btn btn-default btn-danger">Delete From Cart</a><br />
                                    </h4>
                                </div>
                            </div>
                        }
                    }
                </div>

                </div>

            </div>

        </div>
              

    <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
        </footer>
    </div>
               
</body>
</html>
