@{
    ViewBag.Title = "Men";
}
@model List<Onlinecloth.Models.Item>
@using Onlinecloth.Models;

<html>

<body>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">

                    <a style="color:blue;" href="/home/Men" class="list-group-item">Men</a>
                    
                    <a style="color:blue;" href="/Home/Kids" class="list-group-item">Kids</a>
                </div>
            </div>
            <div class="col-md-12">


                <hr />
                <h1>Women</h1>
                
                <hr />


                <div class="row">

                    @foreach (var s in Model)
                    {
                        if (s.Description.Equals("Kids"))
                        {
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">

                                    <img src="~/Content/img/@s.Photo" alt="">
                                </div>
                                <div class="caption">
                                    <h4>@s.Name</h4>
                                    
                                    <h4>
                                        Price Rs. @s.Price

                                        @if (Session["user"] != null)
                                        {
                                            User u = (User)Session["user"];
                                            Session["userID"] = u.Id;
                                            <a href="~/Home/AddToCart?itemId=@s.Id" class="btn btn-default btn-success">Add To Cart</a><br />
                                            <a href="~/Home/AddToWishList?itemId=@s.Id" class="btn btn-default btn-info">Add To WishList</a><br />
                                        }
                                    </h4>
                                </div>
                            </div>

                        }
                    }
                </div>

            </div>

        </div>

    </div>


    <!-- /.container -->
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
        </footer>
    </div>

</body>
</html>
